<!DOCTYPE html>
<html>
  <head>
    <title>Capture</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Capture and Upload" />
    <script
      src="https://unpkg.com/html5-qrcode"
      type="text/javascript"
    ></script>
  </head>

  <body>
    <h1>Capture</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div id="image_div" style="width: 100%">
            <video id="player" controls autoplay style="width: 100%"></video>
          </div>
          <div>
            <div class="mb-3">
              <button
                id="capture_image_button"
                type="button"
                class="btn btn-light px-2 m-3 btn-lg"
              >
                Capture Image
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div id="qrReader_div">
            <div id="qrReader" width="100%"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div>
            <canvas id="canvas_image" width="320px" height="240px"></canvas>
          </div>
        </div>
        <div class="col-md">
          <div id="qrContent" class="container"></div>
          <input type="hidden" id="qrContentFormat" />
          <input type="hidden" id="qrContentValue" />
          <input type="hidden" id="qrContentDate" />
          <canvas
            id="captured_qrcode_image"
            width="320px"
            height="240px"
          ></canvas>
        </div>
      </div>
    </div>
    <script>
      // https://sandi-fajariadi.medium.com/detect-qr-code-from-an-image-using-javascript-ba30b0aa7d59
      const player = document.getElementById("player");
      const canvas_image = document.getElementById("canvas_image");
      const context_image = canvas_image.getContext("2d");
      const captureImageButton = document.getElementById(
        "capture_image_button"
      );
      const captured_qrcode_image = document.getElementById(
        "captured_qrcode_image"
      );
      const captured_qrcode_context = captured_qrcode_image.getContext("2d");
      const qrReader = document.getElementById("qrReader");
      const qrContent = document.getElementById("qrContent");
      const qrContentFormat = document.getElementById("qrContentFormat");
      const qrContentValue = document.getElementById("qrContentValue");
      const qrContentDate = document.getElementById("qrContentDate");
      const captured_qrcode = document.getElementById("captured_qrcode");
      const constraints = {
        video: true,
      };
      capture_image_button.addEventListener("click", () => {
        // Draw the video frame to the canvas.
        context_image.drawImage(
          player,
          0,
          0,
          canvas_image.width,
          canvas_image.height
        );
      });
      function onScanSuccess(decodedText, decodedResult) {
        // handle the scanned code as you like, for example:
        var date = new Date().toISOString();
        console.log(`Code matched = ${decodedText}`, decodedResult);
        var t = `BarCode Captured:
            Format: ${decodedResult.result.format.formatName}
            Value: ${decodedText}
            Time: ${date}`;
        qrContent.innerText = t;
        qrContentFormat.value = decodedResult.result.format.formatName;
        qrContentValue.value = decodedText;
        qrContentDate.value = date;
        captured_qrcode_context.drawImage(
          document.querySelector("#qrReader video"),
          0,
          0,
          captured_qrcode_image.width,
          captured_qrcode_image.height
        );
        {
          {
            /*  qrReader.hidden = true;
        html5QrcodeScanner.clear();  */
          }
        }
      }
      function onScanFailure(error) {
        // handle scan failure, usually better to ignore and keep scanning.
        // for example:
        // console.warn(`Code scan error = ${error}`);
      }
      let html5QrcodeScanner = new Html5QrcodeScanner("qrReader", {
        fps: 100,
        qrbox: 200,
        experimentalFeatures: {
          useBarCodeDetectorIfSupported: true,
        },
        rememberLastUsedCamera: true,
      });
      html5QrcodeScanner.render(onScanSuccess, onScanFailure);
      // Attach the video stream to the video element and autoplay.
      navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
        player.srcObject = stream;
      });
    </script>
  </body>
</html>
