body {
    background-color: #2a2b2f; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #fff;
    text-align:center;
}

div#camera-column {
    width: 40%;
}

div#qr-column {
    width: 40%;
}
@media only screen and (max-width: 600px) {
}