# https://medium.com/@chathula/how-to-set-up-a-ci-cd-pipeline-for-a-node-js-app-with-github-actions-2073201b0df6
name: Node Github CI
on:
  push:
    branches:
      - main
jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install and test client
      run: |
        cd client
        npm install -f
        npm test
      env:
        CI: true
    - name: npm install and test server
      run: |
        cd client
        npm install -f
        npm test
      env:
        CI: true
